<div class="banner">
  <div id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
        	<%= image_tag "Picture2_SD.jpg", :alt => "..." %>
        </div>
        <div class="item ">
        	<%= image_tag "Picture5_SD.jpg", :alt => "..." %>
        </div>  
        
              
      </div>
       <%= render 'search_form_skill_sharing' %>
      <!-- Controls -->
      <a class="" href="#carousel-example-generic" data-slide="prev"> <span class=""></span> </a>
      <a class="" href="#carousel-example-generic" data-slide="next"> <span class=""></span> </a>
    </div>
    <div class="cboth"></div>
  </div>
</div>
<style type="text/css">
.image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
</style>


<div class="content">
  <h1 class="how_heading">What is Hot inside?</h1>  
  <div class="resize_how_diag">
    <div class="desktop_diag">
      <table>
        <tr>
          <td>
            <div class="image">
             
             <a href="/digital_market" target="_blank"> <img class="top" src="/assets/micro-site/Pic1.jpg" width="230" height="200"></a>
            </div>
            <p>
        <a href="/digital_market" class="bix_1" target="_blank"> Guide to Digital Marketing</a>
<script type="text/javascript">
  $(".bix_1").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_1':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </td>
          <td>
            <div class="image">
              
             <a href="/bake" target="_blank"> <img class="top" src="/assets/skill_image/bak1.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/bake" class="bix_2" target="_blank">Learn Baking</a>
<script type="text/javascript">
  $(".bix_2").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_2':"1"}),success: function (data) {}
    });
  });
</script>            
            </p>
            <p><strong>City:</strong> BTM Layout, Bangalore</p> 
          </td>
          <td>
            <div class="image">
            
             <a href="/photography" target="_blank"> <img class="top" src="/assets/skill_image/p1.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/photography" class="bix_3" target="_blank">Photography Skills</a>
            </p>
<script type="text/javascript">
  $(".bix_3").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_3':"1"}),success: function (data) {}
    });
  });
</script>
            <p><strong>City:</strong> Vasundhara - Ghaziabad</p> 
          </td>
          <td>
            <div class="image">
              
              <a href="/yoga" target="_blank"><img class="top" src="/assets/skill_image/yoga.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/yoga" class="bix_4" target="_blank"> Yoga</a>
<script type="text/javascript">
  $(".bix_4").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_4':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
            <p><strong>City:</strong>  Gurgaon</p>
          </td>
          
        </tr>
      </table>
    </div>
  </div>
  <!-- -----------------------Mobile view------------ -->
  <div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/skill_image/bak1.jpg" width="180" height="140">
          </div>
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal"> Learn Baking</a>
            </p>
            <p><strong>City:</strong>BTM Layout, Bangalore</p> 
          </div>
          <div class="data_col">            
            <div class="image">
            <img class="top" src="/assets/micro-site/Pic1.jpg" width="180" height="140">
          </div>
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal"> Guide to Digital Marketing</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
        </div>
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/skill_image/yoga.jpg"width="180" height="140">
          </div>
            <p>
              <a a href="#" data-toggle="modal" data-target="#myModal"> Yoga</a>
            </p>
            <p><strong>City:</strong> Gurgaon</p> 
          </div>
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/skill_image/p1.jpg" width="180" height="140">
          </div>
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal">Photography Skills </a>
            </p>
            <p><strong>City:</strong> Vasundhara - Ghaziabad</p> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ---------------------------------mobile view end------------------------------ -->
</div>