<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="google-site-verification" content="-L-MNBqz17bcXZ5zcjf9GrcrzYVSfxuLuJYy7LmEl4A" />
    <!--<title><%#= render_title %></title>-->
    <title>Sharingdais.com an Online Platform for Peer to Peer Sharing </title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8" />
    <!--<title>Sharingdais an Online Platform for Peer to Peer Sharing</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:image" content="http://www.sharingdais.com/assets/food_image/aluparatha.jpg"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="Keywords" content="Peer to Peer Sharing, Person to Person Sharing, Online Sharing, Online advertisements, Sharing Economy, Collaborative Consumption, Free advertisement, Free ads, Share stuff, Share goods and services, Sharing in Delhi, Sharing in Bangalore, Sharing in Bengaluru, Sharing in Ghaziabad, Sharing in Gurgaon, Sharing in Faridabad" />
    <meta property="og:description" content="The Parantha is an important part of a traditional North Indian breakfast. Traditionally, it is made using ghee but oil is also used. We can serve Aloo, Gobhi and Mutter Parantha with tomato ketchup & pickle."/>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
  
  
    <script>
      function get_location(value, update_field)
      {
        if($("#post_requirement_city_id").length > 0){
          document.getElementById('post_requirement_city_id').value = value;
        }
        if($("#book_post_requirement_city_id").length > 0){
          document.getElementById('book_post_requirement_city_id').value = value;
        }
      $('#myModal').modal('hide')
        if (value !="")
        {
        $.cookie('city_id', value, { path: '/' })
        value = $.cookie('city_id')
        document.getElementById('city_id').value = value
          $.ajax({ url : "/application/get_locations", type: "GET", data: { id: value}, dataType: "json",
            success: function (response) {
              $("."+update_field+" option").remove();
              $.each(response, function(key, value) {
              $("."+update_field).append($("<option></option>").attr("value",value.id).text(value.location_name));
              });
         }
          });
        }
        else{
          $("."+update_field+" option").remove();
          $("."+update_field).append($("<option value=''>Locality</option>"));
        }
       if(document.getElementById('search_city_id') !== null){
          document.getElementById('search_city_id').value = value}
      }
   
   $('.carousel').carousel();
      $(function() {
        $('.carousel input').focus(function() {
          $('.carousel').carousel('pause');
        }).blur(function() {
          $('.carousel').carousel('cycle');
        });
        $("#mob_menu").click(function(){
          if ($(".mob_nav").hasClass("active")){
            $(".mob_nav").removeClass("active");
            }
        else{
        $(".mob_nav").addClass("active");
        }
      });
      });
      
    </script>
    
<!-- #google analytics code -->
     <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-51916768-1', 'sharingdais.com');
   ga('send', 'pageview');

  </script>
  <style >
    .back-to-top {
      position: fixed;
      bottom: 5%;
      right: 0%;
      text-decoration: none;
      /*color: #F5F4F4;
      background-color: rgba(88, 154, 185, 0.8);
      font-size: 10px;
      padding: 1em;*/
      display: none;
    }
    .back-to-top:hover {  
      background-color: rgba(135, 135, 135, 0.50);
    }
    @media screen and (max-width:768px) {
      .footer_sticky_bar{display: none;}
      .m_near{display: none;}
      .m_tag{display: none;}
    }
  </style>

  </head>
  <body>
<!-- Phone No Nil Popup -->
<% if current_user %>
<%if current_user.phone_no.nil? %>
<div class="modal fade in hide_m" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel"><center>Please Enter your Mobile No.</center></h2>
      </div>
      <div class="modal-body">
         <input autofocus="autofocus" class="form-control phone_no" placeholder="Enter your 10 digite Mobile No." size="30" ><br>
         <input class="form-control address" placeholder="Please Enter Your Address & City" size="30" >
      </div> 
      <div class="modal-footer">
        <div class="bootstrap-dialog-footer">
          <div class="bootstrap-dialog-footer-buttons">
            <button class="btn btn-default" id="save_no">Save</button>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
<div class="modal-backdrop fade in hide_m"></div>
<script type="text/javascript">

  $("#save_no").click(function (){
    var phone = $(".phone_no").val(),
    intRegex = /[0-9 -()+]+$/;
    if((phone.length < 10) || (!intRegex.test(phone))){
      alert("Please Enter Correct Phone No.")
    }else{
      if ($(".address").val()){
        $.ajax({ type: 'POST',url: '/save_phone',data: ({'phone_no': $(".phone_no").val(),'address': $(".address").val()}),success: function (data) { $(".hide_m").hide()}
        }); 
      }else{
        alert("Please Enter Address.")
      }     
    }
  });
</script>
<%end%>
<%end%>
<!------- End Popup ------>
    <div class="container-fluid">
      <div class="wrap">
      <% if params[:controller] == 'admins' %>
      <%= render :partial =>  "layouts/admin_header" %>
      <%else%>
      <%= render :partial =>  "layouts/header" %>
      <%end%>


<!-- #######################################3jessor################################ -->
 <script type="text/javascript" src="/assets/jssor.js"></script>
<script type="text/javascript" src="/assets/jssor.slider.js"></script>
 <script>
        jssor_slider1_starter = function (containerId) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each 
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in 
                $PauseOnHover: 1,                               //[Optional] Whether to pause when 
                $Loop: 0,                                      //[Optional] Enable loop(circular) of 

                $ArrowKeyNavigation: true,                    //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset 
                $SlideSpacing: 5,                           //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 
                $PlayOrientation: 1,                                //[Optional] Orientation to play 
                $DragOrientation: 3,                                //[Optional] Orientation to drag 
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $Loop: 2,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                    $AutoCenter: 3,                                 //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 4,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 4,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 2,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: false                             //[Optional] Disable drag or not, default value is false
                }
            };
            var jssor_slider1 = new $JssorSlider$(containerId, options);

            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;
                    //keep the slider width no more than 810
                    sliderWidth = Math.min(sliderWidth, 810);

                    jssor_slider1.$ScaleWidth(sliderWidth);
                }
                else
                    $Jssor$.$Delay(ScaleSlider, 30);
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
            }
            //responsive code end
        };
    </script>
    <!-- #######################################3jessor################################ -->
    <% @counter=Ad.all %>
<div class="content">
<div class="resize_how_diag">
<div class="desktop_dialog"><br><br><br>

    <script type="text/javascript">
        $('.count10').click(function() {
          $('#output10').html(function(i, val) { return val*1+1 });
        });
      </script>  
         <div style="margin:0 15% 0 15%;">
          <h1 style="color:#999">Visits: <%= @counter.first.box_10 ? @counter.first.box_10 : 0 %></h1>
          <table>
            <tr>
              <td>
                <span class="rating">
                 <input type="radio" class="rating-input"
                  id="rating-input-5-5" name="rating-input-1">
                 <label for="rating-input-5-5" class="rating-star"></label>
                  <input type="radio" class="rating-input"
                  id="rating-input-5-4" name="rating-input-1">
                 <label for="rating-input-5-4" class="rating-star"></label>
                  <input type="radio" class="rating-input"
                  id="rating-input-5-3" name="rating-input-1">
                  <label for="rating-input-5-3" class="rating-star"></label>
                   <input type="radio" class="rating-input"
                   id="rating-input-5-2" name="rating-input-1">
                 <label for="rating-input-5-2" class="rating-star"></label>
                 <input type="radio" class="rating-input"
                  id="rating-input-5-1" name="rating-input-1">
                 <label for="rating-input-5-1" class="rating-star"></label>
                 </span>
              </td>
              <td>
                <div class="social" align="right">         
                 
                  <a class="fb-share-button" data-href="http://www.sharingdais.com/stuffed_parantha" data-layout="button"></a>
                  <br>        
                  <a href="https://twitter.com/share" data-size="large" class="twitter-share-button" data-count="none">Tweet</a><br>
                  <input type="button" class="" onclick=
                    "alert('Contact mobile Number : 7840088215')" 
                    value="Contact us">        
                </div>               
              </td>
            </tr>
          </table>
        </div><br>
         <div class="" align="center">         
        <div id="slider10_container" style="position: relative; top: 0px; left: 0px; width: 70%; height: 400px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 610px; height: 400px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/food_image/aluparatha.jpg" style="width:100%; height: ;"/>
                <div u="thumb">
                 <img class="i" src="/assets/food_image/aluparatha.jpg" />
                </div>
            </div>
            <div>
                <img u="image" src="/assets/food_image/parantha1.jpg" />
                <div u="thumb">
                 <img class="i" src="/assets/food_image/parantha1.jpg" />
                </div>
            </div>
            <div>
                <img u="image" src="/assets/food_image/parantha2.jpg" />
                <div u="thumb">
                 <img class="i" src="/assets/food_image/parantha2.jpg" />
                </div>
            </div>
            <div>
                <img u="image" src="/assets/food_image/paranth4.jpg" />
                <div u="thumb">
                 <img class="i" src="/assets/food_image/paranth4.jpg" />
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 85px; height: 400px; left:645px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 110px; height: 100px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider10_container');
        </script>
        </div>
        </div>
        <div class="" style="margin:0 15% 0 15%;"><br>
            <p>
            <strong>Stuffed Parantha </strong>   </p><br>  
            <strong> Details:</strong>        
            <p align="justify"> The Parantha is an important part of a traditional North Indian breakfast. Traditionally, it is made using ghee but oil is also used. We can serve Aloo, Gobhi and Mutter Parantha with tomato ketchup & pickle.
            </p>          <br>          
            <strong> Type:</strong> Pure- Vegetarian           <br>          
            <strong>Style:</strong>  North Indian            <br>           
            <strong>Location:</strong> Indirapuram, Ghaziabad          <br>          
            <strong>Budget:</strong>   INR 25 
          
       </div>

  </div>
 </div>
</div> 

<!-- ############################### social media ############################# -->

<!--<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1571186586438646&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1571186586438646&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- ############################### social media ############################# -->

<style type="text/css">
/* Rating System css */
.rating {
    float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:1px;
    left:2px;
}
</style>


    <!-- Thumbnail Item Skin Begin -->
           <style>
                
                .jssort11
                {
                  font-family: Arial, Helvetica, sans-serif;
                }
                .jssort11 .i, .jssort11 .pav:hover .i
                {
                  position: absolute;
                  top:3px;
                  left:3px;
                  WIDTH: 90%;
                  HEIGHT: 90%;
                  border: white 1px dashed;
                }
                * html .jssort11 .i
                {
                  WIDTH /**/: 62px;
                  HEIGHT /**/: 32px;
                }
                .jssort11 .pav .i
                {
                  border: white 1px solid;
                }
                .jssort11 .t, .jssort11 .pav:hover .t
                {
                  position: absolute;
                  top: 3px;
                  left: 68px;
                  width:129px;
                  height: 32px;
                  line-height:32px;
                  text-align: center;
                  color:#fc9835;
                  font-size:13px;
                  font-weight:700;
                }
                .jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
                {
                  color:#fff;
                }
                .jssort11 .c, .jssort11 .pav:hover .c
                {
                  position: absolute;
                  top: 38px;
                  left: 3px;
                  width:197px;
                  height: 31px;
                  line-height:31px;
                  color:#fff;
                  font-size:11px;
                  font-weight:400;
                  overflow: hidden;
                }
                .jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
                {
                  color:#fc9835;
                }
                .jssort11 .t, .jssort11 .c
                {
                  transition: color 2s;
                    -moz-transition: color 2s;
                    -webkit-transition: color 2s;
                    -o-transition: color 2s;
                }
                .jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c
                {
                  transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
                .jssort11 .p
                {
                  background:#181818;
                }
                .jssort11 .pav, .jssort11 .pdn
                {
                  background:#462300;
                }
                .jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover
                {
                  background:#333;
                }
            </style> 

 
 <% if params[:controller] == 'admins' %>
      <%= render :partial =>  "layouts/admin_footer" %>
    <%else%>
      <%= render :partial =>  "layouts/footer" %>
      <%end%>
      </div>
    </div>
    <%= render :partial => "layouts/feedback" %>
    <script type="text/javascript">
/* For FeedBack*/
  $(".ajax_load").hide();
  $(".pull_feedback").click(function(){
    $("#feedback").animate({right:"0px"});
  });
  $(document).click(function(){
    $("#feedback").animate({right:"-313px"});
  });
  $(".img_cls").click(function(){
    $("#feedback").animate({right:"-313px"});
  });
  $("#feedback").click(function(e){
    e.stopPropagation();
  });
  function IsEmail(email) {
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(!regex.test(email.value)) {
      return false;
    }else{
      return true ;
    }
  }
  
  $("#send").click(function(){
    var phone = $("#phon").val(),
    intRegex = /[0-9 -()+]+$/;
    if ($("#name").val() == ""){
      $("#name_errore").show()
    }else if($("#email").val() == ""){
      $("#name_errore").hide()
      $("#email_errore").show()
    }else if(IsEmail(email)==false){
       $("#invalid_email").show()
       $("#email_errore").hide()
    }else if($("#phon").val() == ""){
      $("#email_errore").hide()
      $("#email_errore").hide()
      $("#phon_errore").show()
    }else if((phone.length < 6) || (!intRegex.test(phone))){
      $("#phon_errore_m").show()
      $("#phon_errore").hide()
    }else if($("#message").val() == ""){
      $("#phon_errore").hide()
      $("#message_errore").show()
    }else{  
      $(".ajax_load").show();   
      $.ajax({type: 'POST', url: '/send_feedback',data: ({'name': $("#name").val(), 'email' : $("#email").val(), 'phon' : $("#phon").val(), 'message' : $("#message").val() }),succes: function(){ $(".ajax_load").hide() }   })
        }
      });
</script>
    <a href="#" class="back-to-top"><img src="/assets/backtop.png" style="width: 80%;"></a>
    <script>            
      jQuery(document).ready(function() {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
          if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
          } else {
            jQuery('.back-to-top').fadeOut(duration);
          }
        });        
        jQuery('.back-to-top').click(function(event) {
          event.preventDefault();
          jQuery('html, body').animate({scrollTop: 0}, duration);
          return false;
        })
      });
    </script>
  </body>
</html>


<% if params[:search].blank?%>
<script>
$( document ).ready(function() {
   value = $.cookie('city_id')
      if (value)
          {
          document.getElementById('city_id').value = value
          $.ajax({ url : "/application/get_locations", type: "GET", data: { id: value}, dataType: "json",
            success: function (response) {
              $(".locality_id_class option").remove();
              $.each(response, function(key, value) {
                $(".locality_id_class").append($("<option></option>").attr("value",value.id).text(value.location_name));
              });
           }
          });
          
           if(document.getElementById('search_city_id') !== null){
          document.getElementById('search_city_id').value = value}
          }
        if(value == null){
          $("#city_id").val(""); 
          $(".locality_id_class option").remove();
          $(".locality_id_class").append($("<option value=''>Locality</option>"));
        }
});
</script>
<%end%>