<div class="content">
                <h3 class="how_heading">How does it Work?</h3>
                        <div class="how_tabs"><span class="col-lg-6 tab_list float_none">Food Sharing</span></div>
					<div class="resize_how_diag">
                        <div class="desktop_diag">
	                        <div class="how_content_food">
	                        <h2 class="how_content_heading">You want to have food?</h2>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">1</div>
	                            <div class="step_icon"><%= image_tag 'login_icon.png' %></div>
															
    	                        <p><strong>Log in your details</strong> including the type of food you want to have.</p>
        	                   	<div class="arrow"><%= image_tag 'blue_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'search_icon.png' %></div>
															
    	                        <p><strong>Keep Searching</strong> for an interested cooks on the platform.</p>
                            	<div class="step_num_light_blue">2</div>
                            	<div class="arrow"><%= image_tag 'light_blue_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">3</div>
	                            <div class="step_icon"><%= image_tag 'result_icon.png' %></div>
															
    	                        <p><strong>Get results</strong> based on your search or a request from Food providers based on their search.</p>
                            	<div class="arrow"><%= image_tag 'blue_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'interact_icon.png' %></div>
															
    	                        <p><strong>Interact with your discoveries</strong> through messaging on the platform.</p>
                            	<div class="step_num_light_blue">4</div>
                            	<div class="arrow"><%= image_tag 'light_blue_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">5</div>
	                            <div class="step_icon"><%= image_tag 'finalize_icon.png' %></div>
															
    	                        <p><strong>Finalize the deal</strong> and get the contact details.</p>
                            	<div class="arrow"><%= image_tag 'blue_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'sharing_icon.png' %></div>
															
    	                        <p><strong>Eat.</strong><br>Make new friends</p>
                            	<div class="step_num_light_blue">6</div>
                            </div>
                        	</div>
    	                	<div class="how_content_cook">
	                        <h2 class="how_content_heading">You are the cook ?</h2>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">1</div>
	                            <div class="step_icon"><%= image_tag 'login_icon.png' %></div>
															
    	                        <p><strong>Log in your details</strong> including the details of your receipe.</p>
        	                   	<div class="arrow"><%= image_tag 'green_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'search_icon.png' %></div>
															
    	                        <p><strong>Keep Searching</strong> for a interested food enthusiast on the platform.</p>
                            	<div class="step_num_light_blue">2</div>
                            	<div class="arrow"><%= image_tag 'light_green_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">3</div>
	                            <div class="step_icon"><%= image_tag 'result_icon.png' %></div>
															
    	                        <p><strong>Get results</strong> based on you search or a request from food seeker based on their search.</p>
                            	<div class="arrow"><%= image_tag 'green_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'interact_icon.png' %></div>
															
    	                        <p><strong>Interact with your discoveries</strong> through messaging on the platform.</p>
                            	<div class="step_num_light_blue">4</div>
                            	<div class="arrow"><%= image_tag 'light_green_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_1">
                            	<div class="step_num_blue">5</div>
	                            <div class="step_icon"><%= image_tag 'finalize_icon.png' %></div>
														
    	                        <p><strong>Finalize the deal</strong> and get the contact details.</p>
                            	<div class="arrow"><%= image_tag 'green_arrow.png' %></div>
															
                            </div>
                            <div class="col-xs-2 food_step_2">
	                            <div class="step_icon"><%= image_tag 'sharing_icon.png' %></div>
															
    	                        <p><strong>Share food.</strong><br>Make new friends.</p>
                            	<div class="step_num_light_blue">6</div>
                            </div>
                        	</div>
                        </div>
                        <div class="mob_diag">
	                        <div class="how_content_food_mobile">
                            <div class="mobile_splitter_diag">
	                        <h2 class="how_content_heading">You want to have food?</h2>
                            <div class="col-xs-12 food_step_1 float_none">
                            	<div class="step_num_blue">1</div>
	                            <div class="step_icon"><%= image_tag 'login_icon.png' %></div>
															
    	                        <p><strong>Log in your details</strong> including the type of food you want to have.</p>
        	                   	<div class="arrow"><%= image_tag 'blue_arrow_mob.png' %></div>
															
                            </div>
                            <div class="col-xs-12 food_step_2 float_none">
	                            <div class="step_icon"><%= image_tag 'search_icon.png' %></div>
															
    	                        <p><strong>Keep Searching</strong> for an interested cooks on the platform.</p>
                            	<div class="step_num_light_blue">2</div>
                            	<div class="arrow"><%= image_tag 'light_blue_arrow_mob.png' %></div>
															
                            </div>
                            <div class="col-xs-12 food_step_1 float_none">
                            	<div class="step_num_blue">3</div>
	                            <div class="step_icon"><%= image_tag 'result_icon.png' %></div>
															
    	                        <p><strong>Get results</strong> based on your search or requests from Food providers based on their search</p>
                            	<div class="arrow"><%= image_tag 'blue_arrow_mob.png' %></div>
															
                            </div>
                            <div class="col-xs-12 food_step_2 float_none">
	                            <div class="step_icon"><%= image_tag 'interact_icon.png' %></div>
															
    	                        <p><strong>Interact with your discoveries</strong> through messaging on the platform.</p>
                            	<div class="step_num_light_blue">4</div>
                            	<div class="arrow"><%= image_tag 'light_blue_arrow_mob.png' %></div>
															
                            </div>
                            <div class="col-xs-12 food_step_1 float_none">
                            	<div class="step_num_blue">5</div>
	                            <div class="step_icon"><%= image_tag 'finalize_icon.png' %></div>
															
    	                        <p><strong>Finalize the deal</strong> and get the contact details.</p>
                            	<div class="arrow"><%= image_tag 'blue_arrow_mob.png' %></div>
															
                            </div>
                            <div class="col-xs-12 food_step_2 float_none">
	                            <div class="step_icon"><%= image_tag 'sharing_icon.png' %></div>
															
    	                        <p><strong>Eat.</strong><br>Make new friends</p>
                            	<div class="step_num_light_blue">6</div>
                            </div>
                        </div>
                        </div>
    	                    <div class="how_content_cook_mobile">
                            <div class="mobile_splitter_diag">
	                	        <h2 class="how_content_heading">You are the cook ?</h2>
                	            <div class="col-xs-12 food_step_1 float_none">
            	                	<div class="step_num_blue">1</div>
	    	                        <div class="step_icon"><%= image_tag 'login_icon.png' %></div>
																
    		                        <p><strong>Log in your details</strong> including the details of your receipe.</p>
	        	                   	<div class="arrow"><%= image_tag 'green_arrow_mob.png' %></div>
																
                        	    </div>
                    	        <div class="col-xs-12 food_step_2 float_none">
	            	                <div class="step_icon"><%= image_tag 'search_icon.png' %></div>
																
    	    	                    <p><strong>Keep Searching</strong> for a interested food enthusiast on the platform.</p>
        	                    	<div class="step_num_light_blue">2</div>
    	                        	<div class="arrow"><%= image_tag 'light_green_arrow_mob.png' %></div>
																
	                            </div>
                        	    <div class="col-xs-12 food_step_1 float_none">
                    	        	<div class="step_num_blue">3</div>
	            	                <div class="step_icon"><%= image_tag 'result_icon.png' %></div>
																
    	    	                    <p><strong>Get results</strong> based on your search or a request from Food providers based on their search.</p>
        	                    	<div class="arrow"><%= image_tag 'green_arrow_mob.png' %></div>
																
    	                        </div>
	                            <div class="col-xs-12 food_step_2 float_none">
	                        	    <div class="step_icon"><%= image_tag 'interact_icon.png' %></div>
																
    	                	        <p><strong>Interact with your discoveries</strong> through messaging on the platform.</p>
                    	        	<div class="step_num_light_blue">4</div>
                	            	<div class="arrow"><%= image_tag 'light_green_arrow_mob.png' %></div>
																
            	                </div>
        	                    <div class="col-xs-12 food_step_1 float_none">
    	                        	<div class="step_num_blue">5</div>
		                            <div class="step_icon"><%= image_tag 'finalize_icon.png' %></div>
																
    	                        	<p><strong>Finalize the deal</strong> and get the contact details.</p>
                            		<div class="arrow"><%= image_tag 'green_arrow_mob.png' %></div>
																
                        	    </div>
                    	        <div class="col-xs-12 food_step_2 float_none">
	            	                <div class="step_icon">	<%= image_tag 'sharing_icon.png' %></div>
															
    	    	                    <p><strong>Share food.</strong><br>Make new friends.</p>
        	                    	<div class="step_num_light_blue">6</div>
    	                        </div>
	                        </div>
                        </div>
                        </div>
                    </div>
					</div>