<p>Welcome to sharingdais.com, <%= @user.name %></p>

 
<p>Your order was confirmed by <%= @provider.name %>.</p>

<p>The Food Provider details below:</p>

<p>Order No.: <%="##{@message.order_id}"%></p>
<p>Name : <%= @provider.name %></p>
<p>Email : <%= @provider.email %></p>
<p>Phone : <%= @provider.phone_no %></p>
<p>Address : <%= @provider.address %></p>

<p>For more details check your <%= @url%> Profile</p>

<p><i><strong>Sharing Do’s of Sharing</strong></i><br>
<i>We thank you for believing in Sharing Economy. Please find some tips.</i><br><br>
<strong><i>Provider</i></strong><br>
<i>1.Food Provider should maintain the hygiene and quality of food</i><br>
<i>2.Book Provider should share books with somebody whom they can trust</i><br>
<i>3.Skill Provider should transfer knowledge to the best of their capacities</i><br>
<i>4.Service Provider should execute their services with full responsibilties</i><br><br>
<strong><i>Seeker</i></strong><br>
<i>1.Food Seeker should put a request to the provider well in advance</i><br>
<i>2.Book Seeker should return back the book in good condition and within the time period</i><br>
<i>3.Skill Seeker should practice skills for quick learning and better understanding </i><br>
<i>4.Service Seeker should acknowledge the service and give ratings </i><br><br>
<i>For more <a href="http://sharingdais.com/hygiene_factor">do’s and don’ts </a>click here </i></p>


<p>Have a great day!</p>
<p>Thanks and Regards,</p>

<p>Sharingdais Admin Team</p>
