<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">User Name</Data></Cell>
        <Cell><Data ss:Type="String">Skill</Data></Cell>
        <Cell><Data ss:Type="String">Region</Data></Cell>
        <Cell><Data ss:Type="String">Rent</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
      </Row>
      <% @skill_orders.each do |b| %>
      <Row>
        <Cell><Data ss:Type="String"><%= b.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= b.sub_category.sub_category_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= b.location.location_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= b.charges %></Data></Cell>
        <Cell><Data ss:Type="String"><%= b.description %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>