<h3 class="heading_content">Sharingdais Users Ad Clicks</h3>
<div class="display padding_five">
<table class="table table-hover">
     <thead class="heading">
          <tr>
               <th>Box 1</th>
               <th>Box 2</th>
               <th>Box 3</th>
               <th>Box 4</th>
               <th>Box 5</th>
               <th>Box 6</th>
               <th>Box 7</th>
               <th>Box 8</th>
               <th>Box 9</th>
               <th>Box 10</th>
          </tr>
          <tr>     
               <th>Box 11</th>
               <th>Box 12</th>
               <th>Box 13</th>
               <th>Box 14</th>
               <th>Box 15</th>
               <th>Box 16</th>
               <th>Box 17</th>
               <th>Box 18</th>
               <th>Box 19</th>
               <th>Box 20</th>
          </tr>
     </thead>
     <tbody>                 
          <tr>
               <th><%= @counter.first.box_1 ? @counter.first.box_1 : 0 %></th>
               <th><%= @counter.first.box_2 ? @counter.first.box_2 : 0 %></th>
               <th><%= @counter.first.box_3 ? @counter.first.box_3 : 0 %></th>
               <th><%= @counter.first.box_4 ? @counter.first.box_4 : 0 %></th>
               <th><%= @counter.first.box_5 ? @counter.first.box_5 : 0 %></th>
               <th><%= @counter.first.box_6 ? @counter.first.box_6 : 0 %></th>
               <th><%= @counter.first.box_7 ? @counter.first.box_7 : 0 %></th>
               <th><%= @counter.first.box_8 ? @counter.first.box_8 : 0 %></th>
               <th><%= @counter.first.box_9 ? @counter.first.box_9 : 0 %></th>
               <th><%= @counter.first.box_10 ? @counter.first.box_10 : 0 %></th>
          </tr>
          <tr>     
               <th><%= @counter.first.box_11 ? @counter.first.box_11 : 0 %></th>
               <th><%= @counter.first.box_12 ? @counter.first.box_12 : 0 %></th>
               <th><%= @counter.first.box_13 ? @counter.first.box_13 : 0 %></th>
               <th><%= @counter.first.box_14 ? @counter.first.box_14 : 0 %></th>
               <th><%= @counter.first.box_15 ? @counter.first.box_15 : 0 %></th>
               <th><%= @counter.first.box_16 ? @counter.first.box_16 : 0 %></th>
               <th><%= @counter.first.box_17 ? @counter.first.box_17 : 0 %></th>
               <th><%= @counter.first.box_18 ? @counter.first.box_18 : 0 %></th>
               <th><%= @counter.first.box_19 ? @counter.first.box_19 : 0 %></th>
               <th><%= @counter.first.box_20 ? @counter.first.box_20 : 0 %></th>    
          </tr>                        
     </tbody>
</table>
</div>