<h3 class="heading_content">Sharingdais Users Ad Clicks</h3>
<div class="display padding_five">
<table class="table table-hover">
     <thead class="heading">
          <tr>
               <th>Box 1</th>
               <th>Box 2</th>
               <th>Box 3</th>
               <th>Box 4</th>
               <th>Box 5</th>
               <th>Box 6</th>
               <th>Box 7</th>
               <th>Box 8</th>
               <th>Box 9</th>
               <th>Box 10</th>
          </tr>
     </thead>
     <tbody>                 
          <tr>
               <th><%= @counter.first.box_1 ? @counter.first.box_1 : 0 %></th>
               <th><%= @counter.first.box_2 ? @counter.first.box_2 : 0 %></th>
               <th><%= @counter.first.box_3 ? @counter.first.box_3 : 0 %></th>
               <th><%= @counter.first.box_4 ? @counter.first.box_4 : 0 %></th>
               <th><%= @counter.first.box_5 ? @counter.first.box_5 : 0 %></th>
               <th><%= @counter.first.box_6 ? @counter.first.box_6 : 0 %></th>
               <th><%= @counter.first.box_7 ? @counter.first.box_7 : 0 %></th>
               <th><%= @counter.first.box_8 ? @counter.first.box_8 : 0 %></th>
               <th><%= @counter.first.box_9 ? @counter.first.box_9 : 0 %></th>
               <th><%= @counter.first.box_10 ? @counter.first.box_10 : 0 %></th>
          </tr>                        
     </tbody>
</table>
</div>