<h3 class="heading_content">Sharingdais user profile activity</h3>
<div class="display padding_five">
  <div class="db_ur_photo">
    <% if !@user.photo.path.nil? %>
      <%= image_tag  @user.photo.url(:small), :class => "img-responsive" %>
    <%else%>
      <img src="/assets/avtar.png" class="img-responsive">
    <%end%>
  </div>
  <div class="db_ur_details">
    <table class="table table-hover load_message">
         <%= render partial: "user_info" %>      
    </table>
<!------------ Start model ---------------->
<div class="modal" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h2 id="myModalLabel" class="modal-title">Edit User Profile</h2>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" class="user_name" placeholder="<%= @user.name %>"></td>
                            </tr>
                            <tr>
                                <td>Email Id:</td>
                                <td><%= @user.email %></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td><input type="text" class="user_address" placeholder="<%= @user.address %>"></td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td><input type="text" class="user_phone_no" placeholder="<%= @user.phone_no %>"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="send_data" class="btn btn-default" type="button">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $("#show_modal").click(function() {
            $(".modal").show();
        });
        $(".close").click(function() {
            $(".modal").hide();
        });
        $("#send_data").click(function() {
            $.ajax({ type: 'POST', url: '/edit_user_profile', data: ({'user_id': "<%= @user.id %>", 'name': $(".user_name").val(),'address':$(".user_address").val(), 'phone_no': $(".user_phone_no").val()  }), succes: function(){ }});
        });
        </script>
<!------------ End model ---------------->
  </div>
</div>
<%= render 'food_info' %>
<%= render 'book_info' %>
<%= render 'skill_info' %>
<%= render 'rider_info' %>
