<script>
$(document).ready(function() {
    $("html, body").animate({ scrollTop: 450 }, 1000);
});
  function check_user(phone, email, user_id, location_id, food_type_id, post_requirement_id, seeker_provider){
<% if current_user %>
      var seeker_status = seeker_provider;
      var current_user_id = "<%= current_user.id %>";
	  var email1 = email;
	  var phone1 = phone;
      if (current_user_id != user_id){
        $.ajax({ url : "/messages/create", type: "POST", data: { user_id: user_id, location_id :location_id,  food_type_id :food_type_id, post_requirement_id : post_requirement_id}, dataType: "json"});
				if(seeker_status == true){
				var r = confirm("Your contact details will be shared with the food seeker.");
				if (r == true){	
				alert("Please find the contact details of the food seeker:" + '\n'+ "Phone no:" + phone1 + '\n' + "Email id:" +email1);
				}
				else {return;}
				}
				else{
				var r = confirm("Your contact details will be shared with the food provider.");
				if (r == true){
				alert("Please find the contact details of the food provider:" + '\n'+ "Phone no:" + phone1 + '\n' + "Email id:" +email1);
				}
				else {return;}
				}
        $("#t_"+post_requirement_id).empty();
        $("#t_"+post_requirement_id).html("Already Negotiated");
      }
      else{
        alert("You can't able to negotiate this order");
      }
<% else %>
      alert("You need to sign in or sign up before continuing");
<% end %>
  }
  
</script>
<div class="content">
  <div class="resize">
    <div class="display">
      <div class="table-responsive src_res_desktop">
        <table class="table table-hover">
          <thead class="heading">
              <tr>
              <th style="width:5%">#</th>
              <th style="width:10%"><center>Food Photo</center></th>
              <th style="width:10%">Locality</th>
              <th style="width:5%">Food Type</th>
              <th style="width:10%">Meal Type</th>
              <th style="width:10%">Region Specific</th>
              <th style="width:10%">Looking from a/am</th>
              <th style="width:15%">Details</th>
              <th style="width:15%">Budget/<br>Review</th>
              <th style="width:10%">Contact</th>
            </tr>
          </thead>
          <tbody>
            <% @count = 1 %>
            <% @search_results.each do |s| %>
              <tr>
<% 
                  @rate_1=rate(s.user.id,1,s.id).count()
                  @rate_2=rate(s.user.id,2,s.id).count()
                  @rate_3=rate(s.user.id,3,s.id).count()
                  @rate_4=rate(s.user.id,4,s.id).count()
                  @rate_5=rate(s.user.id,5,s.id).count()
                  sum = @rate_1 +( @rate_2 * 2 ) + (@rate_3 * 3) + (@rate_4 * 4) + ( @rate_5 * 5)
                  total_no = @rate_1 + @rate_2 + @rate_3 + @rate_4 + @rate_5 
                  if sum == 0
                    @src1 = "/assets/reviews/1str.png"
                    @src2 = "/assets/reviews/1str.png"
                    @src3 = "/assets/reviews/1str.png"
                    @src4 = "/assets/reviews/1str.png"
                    @src5 = "/assets/reviews/1str.png"
                  else
                    avrg = ( sum.to_f / total_no.to_f ).round(1)
                    if avrg >= 1
                      @src1 = "/assets/reviews/2str.png"
                    else
                      @src1 = "/assets/reviews/1str.png"
                    end
                    if avrg >= 1.5
                      @src2 = "/assets/reviews/2str.png"
                    else
                      @src2 = "/assets/reviews/1str.png"
                    end
                    if avrg >= 2.5
                      @src3 = "/assets/reviews/2str.png"
                    else
                      @src3 = "/assets/reviews/1str.png"
                    end
                    if avrg >= 3.5
                      @src4 = "/assets/reviews/2str.png"
                    else
                      @src4 = "/assets/reviews/1str.png"
                    end
                    if avrg >= 4.5
                      @src5 = "/assets/reviews/2str.png"
                    else
                      @src5 = "/assets/reviews/1str.png"
                    end
                  end
                %>
                <td><%= @count %></td>
                <td>
                  <% if !s.food_image.path.nil? %>
                    <%= image_tag s.food_image.url(:small), :style=>"width:125px;height:125px;background-position: 50% 50%; background-repeat: no-repeat; border-radius: 50%;"%>
  								<%else%>
								    <img src="/assets/no_image_available.png" style="width:125px;height:125px;background-position: 50% 50%; background-repeat: no-repeat; border-radius: 50%;">
                  <%end%>
                  <% if s.seeker_provider == false %>
                    <br>
                    <span style="left: 18%; position: relative;">
                      <img style="cursor:pointer;width:13px" src="<%= @src1 %>">
                      <img style="cursor:pointer;width:13px" src="<%= @src2 %>">
                      <img style="cursor:pointer;width:13px" src="<%= @src3 %>">
                      <img style="cursor:pointer;width:13px" src="<%= @src4 %>">
                      <img style="cursor:pointer;width:13px" src="<%= @src5 %>">
                    </span>
                  <%end%>
                </td>
                <td><%= s.location.location_name %></td>
                <td><%= s.food_type.nil? ? "Not Applicable" : s.food_type.name%></td>
                <td><%= s.meal_type.nil? ? "Not Applicable" : s.meal_type.name %></td>
                <td><%= s.region.nil? ? "Not Applicable" : s.region.name %></td>
                <td><%= s.provider.nil? ? "Not Applicable" : s.provider.provider_type %></td>
          				<% @user_email = s.user.email%>
          				<% @user_phone = s.user.phone_no%>
                <td style=""><%= s.details.blank? ? "Not Provided" : s.details%></td>
                <td >&nbsp;&nbsp;<%= s.budget.blank? ? "Not Provided" : number_with_precision(s.budget, :precision => 2)%>
                <button  type="button" class="btn-link" data-toggle="modal" data-target="#Modals_show_post_reviews_<%= s.id %>_<%= s.user.id %>">Show Reviews</button>
                 <!--########################modal for show review##############-->
                <div class="modal fade" id="Modals_show_post_reviews_<%= s.id %>_<%= s.user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                   <div class="modal-content">
                    <div class="modal-header" style="background:#38ACEC;">
                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                     <h4 class="modal-title" id="myModalLabel"><b>Show Reviews</b></h4>
                     </div>
                     <div class="modal-body">
                      <!--Model Content-->
                            <% if s.reviews.size > 0 %>
                              <% s.reviews.each do |review| %>
                                <%= review.content %><br />
                               Reviewed by:
                                <span style="color :green;"><%= review.user.name if review.user_id %></span><br /><br>
                              <% end %>
                            <% else %>
                              Sorry. No reviews yet
                            <% end %>
                      <!--End Model Content-->
                  </div>
                  </div>
                  </div>
                </div>
<!--#######################end of model show review########################-->
                </td>


                <% if !current_user %>
	                  <td><%= link_to("Interested","javascript:void(0)", {:onclick => "check_user('#{@user_phone}','#{@user_email}','#{@user_email}', #{s.user_id}, #{s.location_id}, #{s.food_type_id}, #{s.id}, #{s.seeker_provider});" }) %></td>
                <% elsif negotiate(current_user.id, s.id).nil?%>
					<td id="t_<%= s.id %>">
					  <%= link_to("Interested","javascript:void(0)", {:onclick => "check_user('#{@user_phone}', '#{@user_email}', #{s.user_id}, #{s.location_id}, #{s.food_type_id}, #{s.id}, #{s.seeker_provider});" }) %></td>
                <% else %>
                  <td>Already Negotiated</td>
                <% end %>
              </tr>

              <% @count = @count+1 %>
			  
            <% end %>
          </tbody>
        </table>
        <div id="">
            <%#= will_paginate @search_results, renderer: BootstrapPagination::Rails, params: {search: params[:search]} %>
        </div>
      </div>
			<div class="srch_res_mob">
			<% @search_results.each do |s| %>
<% 
  @rate_1=rate(s.user.id,1,s.id).count()
  @rate_2=rate(s.user.id,2,s.id).count()
  @rate_3=rate(s.user.id,3,s.id).count()
  @rate_4=rate(s.user.id,4,s.id).count()
  @rate_5=rate(s.user.id,5,s.id).count()
  sum = @rate_1 +( @rate_2 * 2 ) + (@rate_3 * 3) + (@rate_4 * 4) + ( @rate_5 * 5)
  total_no = @rate_1 + @rate_2 + @rate_3 + @rate_4 + @rate_5 
  if sum == 0
    @src1 = "/assets/reviews/1str.png"
    @src2 = "/assets/reviews/1str.png"
    @src3 = "/assets/reviews/1str.png"
    @src4 = "/assets/reviews/1str.png"
    @src5 = "/assets/reviews/1str.png"
  else
    avrg = ( sum.to_f / total_no.to_f ).round(1)
    if avrg >= 1
      @src1 = "/assets/reviews/2str.png"
    else
      @src1 = "/assets/reviews/1str.png"
    end
    if avrg >= 1.6
      @src2 = "/assets/reviews/2str.png"
    else
      @src2 = "/assets/reviews/1str.png"
    end
    if avrg >= 2.6
      @src3 = "/assets/reviews/2str.png"
    else
      @src3 = "/assets/reviews/1str.png"
    end
    if avrg >= 3.6
      @src4 = "/assets/reviews/2str.png"
    else
      @src4 = "/assets/reviews/1str.png"
    end
    if avrg >= 4.6
      @src5 = "/assets/reviews/2str.png"
    else
      @src5 = "/assets/reviews/1str.png"
    end
  end
%>
                            	<div class="res_data">
                                	<div class="data_row">
                                    	<div class="data_title">
                                        	Food Photo
                                        </div>
                                        <div class="data_col">
																				<% if !s.food_image.path.nil? %>
                                        	<%= image_tag s.food_image.url(:small), :style=>"width:125px;height:125px;background-position: 50% 50%; background-repeat: no-repeat; border-radius: 50%;" %>
																					<%else%>
																					<img src="/assets/no_image_available.png" style="width:125px;height:125px;background-position: 50% 50%; background-repeat: no-repeat; border-radius: 50%;">
																					<%end%>
                                          <% if s.seeker_provider == false %><br>
                                          <span style="left: 11%; position: relative;">
                  <img style="cursor:pointer;width:13px" src="<%= @src1 %>">
                  <img style="cursor:pointer;width:13px" src="<%= @src2 %>">
                  <img style="cursor:pointer;width:13px" src="<%= @src3 %>">
                  <img style="cursor:pointer;width:13px" src="<%= @src4 %>">
                  <img style="cursor:pointer;width:13px" src="<%= @src5 %>">
                </span>
                  <%end%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Locality
                                        </div>
                                        <div class="data_col">
                                        	<%= s.location.location_name %>           
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Food Type
                                        </div>
                                        <div class="data_col">
                                        	<%= s.food_type.nil? ? "Not Applicable" : s.food_type.name%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Meal Type
                                        </div>
                                        <div class="data_col">
                                        	<%= s.meal_type.nil? ? "Not Applicable" : s.meal_type.name %>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Region Specific
                                        </div>
                                        <div class="data_col">
                                        	<%= s.region.nil? ? "Not Applicable" : s.region.name %>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Looking from a/am
                                        </div>
                                        <div class="data_col">
											<td><%= s.provider.nil? ? "Not Applicable" : s.provider.provider_type %></td>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Details
                                        </div>
                                        <div class="data_col">
                                        	<%= s.details.blank? ? "Not Provided" : s.details%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Budget
                                        </div>
                                        <div class="data_col">
                                        	<%= s.budget.blank? ? "Not Provided" : number_with_precision(s.budget, :precision => 2)%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                      <div class="data_title">Review</div>
                                     <button type="button" class="btn-link" data-toggle="modal" data-target="#Modals_show_post_mob_reviews_<%= s.id %>_<%= s.user.id %>">Show Reviews</button>
                                    </div>

                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Contact
                                        </div>
																				<div class="data_col" id="t_<%= s.id %>">
																				<% if !current_user %>
                    <td><%= link_to("Interested","javascript:void(0)", {:onclick => "check_user('#{@user_phone}','#{@user_email}','#{@user_email}', #{s.user_id}, #{s.location_id}, #{s.food_type_id}, #{s.id}, #{s.seeker_provider});" }) %></td>
                <% elsif negotiate(current_user.id, s.id).nil?%>
          <td id="t_<%= s.id %>">
            <%= link_to("Interested","javascript:void(0)", {:onclick => "check_user('#{@user_phone}', '#{@user_email}', #{s.user_id}, #{s.location_id}, #{s.food_type_id}, #{s.id}, #{s.seeker_provider});" }) %></td>
                <% else %>
                  <td>Already Negotiated</td>
                <% end %>
                                        </div>
                                    </div>
                              <!--modal for review -->

                                    <div class="modal fade" id="Modals_show_post_mob_reviews_<%= s.id %>_<%= s.user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                       <div class="modal-content">
                                        <div class="modal-header" style="background:#38ACEC;">
                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                          <h4 class="modal-title" id="myModalLabel" align="center"><b>Reviews</b></h4>
                                        </div>
                                        <div class="modal-body">
                                      <!--Model Content-->
                                            <% if s.reviews.size > 0 %>
                                              <% s.reviews.each do |review| %>
                                                <%= review.content %><br />
                                                Reviewed by:
                                                <span style="color :green;"><%= review.user.name if review.user_id %></span><br /><br>
                                              <% end %>
                                            <% else %>
                                              Sorry. No reviews yet
                                            <% end %>
                                      <!--End Model Content-->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Model review-->



                                </div>
                             
		  <%end%>
			</div>
    </div>
  </div>
</div>
