<style type="text/css">
.image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
.resize_how_diag1 { width: 100%; padding:20px 10%; margin: 0 auto; position: relative; background:#ffffff; overflow:hidden;}
.resize_how_diag1 { width: 100%; padding:0 10%; margin: 0 auto; position: relative; }


</style>



<div class="content">
  
<div class="resize_how_diag1"> 
 <div class="desktop_diag">
  <h1 class="how_heading">What is Hot inside?</h1>
  
             <div class="row">
            <div class="col-xs-6 col-sm-3">             
                  <div class="bix_9">
                  <div class="image">              
                 <a href="/khadi_chawal" target="_blank"> 
                  <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="190" height="160">
                 </a>
                 </div>
                 <p><a href="/khadi_chawal" target="_blank">Home Style Kadhi-Chawal</a></p>
                 <script type="text/javascript">
  $(".bix_9").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_9':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> Patel Nagar- Delhi</p>
                 </div>
                 <div class="col-xs-6 col-sm-3"> 
                 <div class="bix_10">
                 <div class="image">
                 <a href="/stuffed_parantha" target="_blank">
                  <img class="top" src="/assets/food_image/aluparatha.jpg" width="190" height="160">
                 </a>
                 </div>
                 <p><a href="/stuffed_parantha"  target="_blank"> Stuffed Parantha</a></p><script type="text/javascript">
  $(".bix_10").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_10':"1"}),success: function (data) {}
    });
  });
</script> 

               </div>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>
                 </div>
                 <div class="col-xs-6 col-sm-3"> 
                 <div class="bix_11">
                 <div class="image">
                 <a href="/veg_thali" target="_blank"> 
                 <img class="top" src="/assets/food_image/thali.jpg" width="190" height="160">
                 </a>
                 </div>
                 <p><a href="/veg_thali"  target="_blank">  Veg Thali</a></p>
                 <script type="text/javascript">
  $(".bix_11").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_11':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                 <p><strong>City:</strong> Nagashettyhalli, Bangalore</p>               
                 </div>
                 <div class="col-xs-6 col-sm-3"> 
                 <div class="bix_12">      
                 <div class="image">
                 <a href="/veg_biryani" target="_blank">
                 <img class="top" src="/assets/food_image/thali2.jpg" width="190" height="160">
                 </a>
                 </div>
                 <p><a href="/veg_biryani"  target="_blank">  Veg Biryani</a></p>
                 <script type="text/javascript">
  $(".bix_12").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_12':"1"}),success: function (data) {}
    });
  });
</script>
               </div>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>
                 </div>
                             
            </div> <br>
            <!--########################Skill Sharing################################-->
            <div class="row">
            <div class="col-xs-6 col-sm-3" >
                  <div class="bix_1">
                  <div class="image">            
                  <a href="/digital_market" target="_blank"> 
                  <img class="top" src="/assets/micro-site/Pic1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/digital_market" class="" target="_blank"> Guide to Digital Marketing</a></p>
                  <script type="text/javascript">
  $(".bix_1").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_1':"1"}),success: function (data) {}
    });
  });
</script>
                 </div>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_13">
                  <div class="image">
                  <a href="/bake" target="_blank"> 
                  <img class="top" src="/assets/skill_image/bak1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/bake" class="" target="_blank">Learn Baking</a></p>
                  <script type="text/javascript">
  $(".bix_13").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_13':"1"}),success: function (data) {}
    });
  });
</script>
                 </div>
                  <p><strong>City:</strong> BTM Layout, Bangalore</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_14">
                  <div class="image">
                  <a href="/photography" target="_blank">
                  <img class="top" src="/assets/skill_image/p1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/photography" class="" target="_blank">Photography Skills</a></p>
                  <script type="text/javascript">
  $(".bix_14").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_14':"1"}),success: function (data) {}
    });
  });
</script>
                 </div>
                  <p><strong>City:</strong> Vasundhara - Ghaziabad</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                   <div class="bix_15">
                  <div class="image">
                  <a href="/yoga" target="_blank">
                  <img class="top" src="/assets/skill_image/yoga.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/yoga" class="" target="_blank"> Yoga</a></p>
                  <script type="text/javascript">
  $(".bix_15").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_15':"1"}),success: function (data) {}
    });
  });
</script>
                 </div>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </div>
            
            </div><br>  
             <!--###############################Book Sharing############################-->
           <div class="row">
             <div class="col-xs-6 col-sm-3">
                  <div class="bix_16">
                  <div class="image">                                
                  <a href="/winning_way" target="_blank"> 
                  <img class="top" src="/assets/book_image/book1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/winning_way" class="" target="_blank"> The Winning Way</a></p>
                  <script type="text/javascript">
  $(".bix_16").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_16':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> Indirapuram,Ghaziabad</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_6">
                  <div class="image">
                  <a href="/fifty_shades_grey" target="_blank">
                  <img class="top" src="/assets/book_image/book2.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/fifty_shades_grey" class="" target="_blank">Fifty Shades of Grey</a></p>
                  <script type="text/javascript">
  $(".bix_6").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_6':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> South City I, Gurgaon</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_7">
                  <div class="image">
                  <a href="/revolution_2020" target="_blank"> 
                  <img class="top" src="/assets/book_image/book3.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/revolution_2020" class="" target="_blank"> Revolution 2020</a></p>
                  <script type="text/javascript">
  $(".bix_7").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_7':"1"}),success: function (data) {}
    });
  });
</script>
                 </div>
                  <p><strong>City:</strong> Karampura, New Delhi</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_8">
                  <div class="image">
                  <a href="/gmat_official_edition" target="_blank">
                  <img class="top" src="/assets/book_image/book4.jpg" width="190" height="160">
                  </a>
                 </div>
                  <p><a href="/gmat_official_edition" class="" target="_blank"> Barron’s GMAT Official Edition</a></p>
                  <script type="text/javascript">
  $(".bix_8").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_8':"1"}),success: function (data) {}
    });
  });
</script>
                </div>
                  <p><strong>City:</strong> Sec 7, Faridabad</p>
                  </div>
                                             
            </div>   <br>   
            <!--#####################Peer Service##########################--> 
            <div class="row">   
            <div class="col-xs-6 col-sm-3">
                  <div class="bix_17">
                  <div class="image">                                
                  <a href="/event_management" target="_blank"> 
                  <img class="top" src="/assets/peer_image/event_management.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/event_management" class="" target="_blank"> Event Management</a></p>
                  <script type="text/javascript">
  $(".bix_17").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_17':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> Delhi-Noida-Ghaziabad</p>
                  </div>
                  <div class="col-xs-6 col-sm-3" >
                  <div class="bix_18">
                  <div class="image"> 
                  <a href="/tax_consultant" target="_blank">
                  <img class="top" src="/assets/peer_image/tax1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/tax_consultant" class="" target="_blank">Consultant- Income Tax & Others</a></p>
                  <script type="text/javascript">
  $(".bix_18").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_18':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="bix_19">
                  <div class="image">
                  <a href="/doctors_dentists" target="_blank"> 
                  <img class="top" src="/assets/peer_image/dentist1.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/doctors_dentists" class="" target="_blank"> Doctor- Dentist</a></p>
                  <script type="text/javascript">
  $(".bix_19").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_19':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                   <div class="20"> 
                  <div class="image">
                  <a href="/beauty_baby_care" target="_blank">
                  <img class="top" src="/assets/peer_image/make_up.jpg" width="190" height="160">
                  </a>
                  </div>
                  <p><a href="/beauty_baby_care" class="" target="_blank"> Beauty & Baby Care: Beauty </a></p>
                  <script type="text/javascript">
  $(".bix_20").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_20':"1"}),success: function (data) {}
    });
  });
</script>
                  </div>
                  <p><strong>City:</strong> Noida</p>
                  </div>                                 
                  </div>  <br>   
          
        
      
 
  


</div>


  <!-- -----------------------Mobile view------------ -->
  <!--<div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
       
            <div class="data_row">
                <div class="data_col">
                  <a href="/digital_market" target="_blank"> 
                  <img class="top" src="/assets/micro-site/Pic1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/digital_market" class="" target="_blank"> Guide to Digital Marketing</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>                 
                </div>
                <div class="data_col">                  
                  <a href="/bake" target="_blank"> 
                  <img class="top" src="/assets/skill_image/bak1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/bake" class="" target="_blank">Learn Baking</a></p>
                  <p><strong>City:</strong> BTM, Bangalore</p>                
                </div>
            </div>
            <div class="data_row">
                <div class="data_col">                  
                  <a href="/photography" target="_blank">
                  <img class="top" src="/assets/skill_image/p1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/photography" class="" target="_blank">Photography Skills</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>                  
                </div>
                <div class="data_col">                  
                  <a href="/yoga" target="_blank">
                  <img class="top" src="/assets/skill_image/yoga.jpg" width="100" height="70">
                  </a>
                  <p><a href="/yoga" class="" target="_blank"> Yoga</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>                  
                </div>
             </div>
         
           <div class="data_row">
                <div class="data_col">      
                 <a href="/winning_way" target="_blank"> 
                  <img class="top" src="/assets/book_image/book1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/winning_way" class="" target="_blank"> The Winning Way</a></p>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>          
                </div>
                <div class="data_col">                  
                  <a href="/fifty_shades_grey" target="_blank">
                  <img class="top" src="/assets/book_image/book2.jpg" width="100" height="70">
                  </a>
                  <p><a href="/fifty_shades_grey" class="" target="_blank">Fifty Shades of Grey</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>                  
                </div>
            </div>
            <div class="data_row">
                <div class="data_col">                
                  <a href="/revolution_2020" target="_blank"> 
                  <img class="top" src="/assets/book_image/book3.jpg" width="100" height="70">
                  </a>
                  <p><a href="/revolution_2020" class="" target="_blank"> Revolution <br>2020</a></p>
                  <p><strong>City:</strong> Karampura, New Delhi</p>                 
                </div>
                <div class="data_col">                
                  <a href="/gmat_official_edition" target="_blank">
                  <img class="top" src="/assets/book_image/book4.jpg" width="100" height="70">
                  </a>
                  <p><a href="/gmat_official_edition" class="" target="_blank"> Barron’s GMAT Official Edition</a></p>
                  <p><strong>City:</strong> Sec 7, Faridabad</p>                  
               </div> 
            </div>         
            <div class="data_row">  
                <div class="data_col">  
                    
                 <a href="/khadi_chawal" target="_blank"> 
                  <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="100" height="70">
                 </a>
                 <p><a href="/khadi_chawal" target="_blank">Home Style Kadhi Chawal</a></p>
                  <p><strong>City:</strong> Patel Nagar, New Delhi</p>
                                
                </div>
                <div class="data_col">                 
                 <a href="/stuffed_parantha" target="_blank">
                  <img class="top" src="/assets/food_image/aluparatha.jpg" width="100" height="70">
                 </a>
                 <p><a href="/stuffed_parantha"  target="_blank"> Stuffed Parantha</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                 </div>                 
            </div>             
            <div class="data_row">             
               <div class="data_col">
                 <div class="">
                 <a href="/veg_thali" target="_blank"> 
                 <img class="top" src="/assets/food_image/thali.jpg" width="100" height="70">
                 </a>
                 <p><a href="/veg_thali"  target="_blank"> Veg Thali</a></p>
                  <p><strong>City:</strong> Bangalore</p>
                 </div>
                 
               </div>
               <div class="data_col">
                 
                 <div class="">
                 <a href="/veg_biryani" target="_blank">
                 <img class="top" src="/assets/food_image/thali2.jpg" width="100" height="70">
                 </a>
                 <p><a href="/veg_biryani"  target="_blank"> Veg Biryani</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                 </div>                 
               </div>
            </div>      
              <div class="data_row">
                <div class="data_col">                      
                  <a href="/event_management" target="_blank"> 
                  <img class="top" src="/assets/peer_image/event_management.jpg" width="100" height="70">
                  </a>
                  <p><a href="/event_management" class="" target="_blank"> Event Management</a></p>
                  <p><strong>City:</strong> <br>Delhi-Noida-Ghaziabad</p>                  
                </div>
                <div class="data_col">                  
                  <a href="/tax_consultant" target="_blank"> 
                  <img class="top" src="/assets/peer_image/tax1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/tax_consultant" class="" target="_blank"> Consultant- Income Tax & Others</a></p>
                  <p><strong>City:</strong> Gurgaon</p>                
                
              </div>
            </div>
              <div class="data_row">
                <div class="data_col">                
                              
                  <a href="/doctors_dentists" target="_blank"> 
                  <img class="top" src="/assets/peer_image/dentist1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/doctors_dentists" class="" target="_blank"> Doctor-Dentist</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>                  
                </div>
                <div class="data_col">
                 
                  <a href="/beauty_baby_care" target="_blank"> 
                  <img class="top" src="/assets/peer_image/make_up.jpg" width="100" height="70">
                  </a>
                  <p><a href="/beauty_baby_care" class="" target="_blank"> Beauty Care</a></p>
                  <p><strong>City:</strong> Noida</p>                  
                </div>
            </div>
            </div>
       
      </div>
    </div>-->
  </div>
</div>
  <!-- ------------------------mobile view end--------------------------- -->






