<style type="text/css">
/* Rating System css */
.rating {
    float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:1px;
    left:2px;
}
/* Box over css */
#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
</style>

 <script language="javascript">
var popupWindow = null;
function centeredPopup(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}

</script>

<div class="content">
  <h1 class="how_heading">Trending items </h1><br><br>
  <!--<div calss="container_responsive">-->
  <div class="resize_how_diag">
    <div class="desktop_diag">
      <table>
        <tr>
          <td>
            <div id="cf">
              <img class="bottom" src="/assets/micro-site/Pic 2.jpg" width="180" height="140">
              <img class="top" src="/assets/micro-site/Pic1.jpg" width="180" height="140">
            </div>
            <p>
              <a href="#" class="bix_1" data-toggle="modal" data-target="#model1"> Guide to Digital Marketing</a>
<script type="text/javascript">
  $(".bix_1").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_1':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </td>
          <td>
            <div id="cf">
              <img class="bottom" src="/assets/micro-site/cake3.JPG" width="180" height="140">
              <img class="top" src="/assets/micro-site/cakemain.jpg" width="180" height="140">
            </div>
            <p>
              <a href="#" class="bix_2" data-toggle="modal" data-target="#model2">Chocolate Cake in 20 min</a>
<script type="text/javascript">
  $(".bix_2").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_2':"1"}),success: function (data) {}
    });
  });
</script>            
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </td>
          <td>
            <div id="cf">
              <img class="bottom" src="/assets/micro-site/cook2.JPG" width="180" height="140">
              <img class="top" src="/assets/micro-site/Lemon-Rice.jpg" width="180" height="140">
            </div>
            <p>
              <a href="#" class="bix_3" data-toggle="modal" data-target="#model3">Home Cooked Food</a>
            </p>
<script type="text/javascript">
  $(".bix_3").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_3':"1"}),success: function (data) {}
    });
  });
</script>
            <p><strong>City:</strong> Ghaziabad</p> 
          </td>
          <td>
            <div id="cf">
              <img class="bottom"src="/assets/micro-site/hightech_ecommerce.jpg" width="180" height="140">
              <img class="top" src="/assets/micro-site/online-marketing-ecommerce-industry.PNG" width="180" height="140">
            </div>
            <p>
              <a href="#" class="bix_4" data-toggle="modal" data-target="#model4">Booming e-commerce Industry</a>
<script type="text/javascript">
  $(".bix_4").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_4':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
            <p><strong>City:</strong> Bangalore</p>
          </td>
          <td>
            <div id="cf">
              <img class="bottom" src="/assets/micro-site/marketing.jpg" width="180" height="140">
              <img class="top" src="/assets/micro-site/marketingCloud.jpg" width="180" height="140">
            </div>
            <p>
              <a href="#" class="bix_5" data-toggle="modal" data-target="#model5"> Porter's 5 Forces: Marketing Gyan</a>
<script type="text/javascript">
  $(".bix_5").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_5':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
            <p><strong>City:</strong> Gurgaon</p> 
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- -----------------------Mobile view------------ -->
  <div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
        <div class="data_row">
          <div class="data_col">
            <img class="bottom" src="/assets/micro-site/cake3.JPG" width="180" height="140">
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal"> Chocolate Cake in 20 min</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
          <div class="data_col">
            <img class="top" src="/assets/micro-site/Pic1.jpg" width="180" height="140">
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal"> Guide to Digital Marketing</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
        </div>
        <div class="data_row">
          <div class="data_col">
            <img class="bottom" src="/assets/micro-site/online-marketing-ecommerce-industry.PNG"width="180" height="140">
            <p>
              <a a href="#" data-toggle="modal" data-target="#myModal"> Booming e-commerce Industry</a>
            </p>
            <p><strong>City:</strong> Bangalore</p> 
          </div>
          <div class="data_col">
            <img class="bottom" src="/assets/micro-site/Lemon-Rice.jpg" width="180" height="140">
            <p>
              <a href="#" data-toggle="modal" data-target="#myModal"> Home Cooked food by Mrs. Nigam</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
        </div>
        <div class="data_col">
          <img class="bottom" src="/assets/micro-site/marketingCloud.jpg" width="180" height="140">
          <p>
            <a href="#" data-toggle="modal" data-target="#myModal"> Porter's 5 Forces: Marketing Gyan</a>
          </p>
          <p><strong>City:</strong> Gurgaon</p> 
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------------------mobile view end------------------------------ -->
</div>
<!-- ---------------------------------Models------------------------------ -->
<script type="text/javascript" src="/assets/jssor.js"></script>
    <script type="text/javascript" src="/assets/jssor.slider.js"></script>

 <script>
        jssor_slider1_starter = function (containerId) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
                $Loop: 0,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1

                $ArrowKeyNavigation: true,                    //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5,                           //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $Loop: 2,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                    $AutoCenter: 3,                                 //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 4,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 4,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 2,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: false                             //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider1 = new $JssorSlider$(containerId, options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 810
                    sliderWidth = Math.min(sliderWidth, 810);

                    jssor_slider1.$ScaleWidth(sliderWidth);
                }
                else
                    $Jssor$.$Delay(ScaleSlider, 30);
            }

            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);


            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
            }

            //if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
            //    $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            //}
            //responsive code end
        };
    </script>
    <!-- Thumbnail Item Skin Begin -->
            <style>
                /* jssor slider thumbnail navigator skin 11 css */
                /*
                .jssort11 .p            (normal)
                .jssort11 .p:hover      (normal mouseover)
                .jssort11 .pav          (active)
                .jssort11 .pav:hover    (active mouseover)
                .jssort11 .pdn          (mousedown)
                */
                .jssort11
                {
                  font-family: Arial, Helvetica, sans-serif;
                }
                .jssort11 .i, .jssort11 .pav:hover .i
                {
                  position: absolute;
                  top:3px;
                  left:3px;
                  WIDTH: 90%;
                  HEIGHT: 90%;
                  border: white 1px dashed;
                }
                * html .jssort11 .i
                {
                  WIDTH /**/: 62px;
                  HEIGHT /**/: 32px;
                }
                .jssort11 .pav .i
                {
                  border: white 1px solid;
                }
                .jssort11 .t, .jssort11 .pav:hover .t
                {
                  position: absolute;
                  top: 3px;
                  left: 68px;
                  width:129px;
                  height: 32px;
                  line-height:32px;
                  text-align: center;
                  color:#fc9835;
                  font-size:13px;
                  font-weight:700;
                }
                .jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
                {
                  color:#fff;
                }
                .jssort11 .c, .jssort11 .pav:hover .c
                {
                  position: absolute;
                  top: 38px;
                  left: 3px;
                  width:197px;
                  height: 31px;
                  line-height:31px;
                  color:#fff;
                  font-size:11px;
                  font-weight:400;
                  overflow: hidden;
                }
                .jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
                {
                  color:#fc9835;
                }
                .jssort11 .t, .jssort11 .c
                {
                  transition: color 2s;
                    -moz-transition: color 2s;
                    -webkit-transition: color 2s;
                    -o-transition: color 2s;
                }
                .jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c
                {
                  transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
                .jssort11 .p
                {
                  background:#181818;
                }
                .jssort11 .pav, .jssort11 .pdn
                {
                  background:#462300;
                }
                .jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover
                {
                  background:#333;
                }
            </style>
<%= render :partial =>  "home/model" %>