<div class="display">
  <h3 class="prf_title">Your Peer Service Sharing Details</h3>
  <div class="table-responsive src_res_desktop">
    <table class="table table-hover">
      <thead class="heading">
        <tr>
          <th>#</th>          
          <th>City</th>
          <th>Locality </th>
          <th>Post As</th>
          <th>service Type</th>
          <th>Charges</th>
          <th>Additional Info</th>
          
          
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% my_count = 1 %>
        <% if @peer_service_post_requirements.present? %>
         <% @peer_service_post_requirements.each_with_index do |p, i| %>
          <tr>
          <td><%= (@page.to_i - 1) * 10 + i+1 %></td>
            <!--<%# if !p.image.path.nil? %>
              <td><%#= image_tag p.image.url(:small) %></td>
            <%#else%>
              <td>No image</td>
            <%#end%>-->
            <td><%= p.city.city_name %></td>
            <td><%= p.location.location_name%></td>
            <td>
              <% if p.seeker_provider == true %>
                Seeker 
              <% else %>                 
                Provider            
              <% end %>
            </td>
            <td><%= p.peer_category.peer_category_type %></td>
            <td><%= p.charges %></td>
            <td><%= p.additinal_info %></td>
            

         
            <!--<td><%#= p.date_of_posting.strftime('%d %B %Y') if p.date_of_posting.present? %></td>-->
            <% if p.seeker_provider %>
              <td><%= link_to 'Edit', edit_peer_service_post_requirement_sharing_path(p)%></td>
            <%else%>
              <td><%= link_to 'Edit', edit_peer_service_list_availability_sharing_path(p)%></td>
            <%end%>
            <td><%= link_to 'Destroy', peer_service_destroy_requirement_sharing_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% my_count +=1 %>
        <% end %>
        
            
        <% else%>
                <tr> 
                    <td colspan="9" style="text-align:center">You don't have any peer service requirements </td>
                </tr>
                <%end%>
      </tbody>  
    </table>
    <div>
      <tr><td><%=will_paginate @peer_service_post_requirements%></td> </tr>
    </div>
    <!--<div id="">
            <%#= will_paginate @book_post_requirements, renderer: BootstrapPagination::Rails, params: {search: params[:search]} %>
        </div>-->
  </div>

  <div class="srch_res_mob">
  <% if !@peer_service_post_requirements.empty? %>
    <% @peer_service_post_requirements.each do |p| %>
      <div class="res_data">
        <!--<div class="data_row">
          <div class="data_title">
            Book Image
          </div>
          <div class="data_col">
            <%# if !p.image.path.nil? %>
              <%#= image_tag p.image.url(:small) %>
            <%#else%>
             No image
            <%#end%>
          </div>
        </div>-->
        <div class="data_row">
          <div class="data_title">
            City
          </div>
          <div class="data_col">
            <%= p.city.city_name %>
          </div>
        </div>
              <div class="data_row">
                <div class="data_title">
                    Locality
                  </div>
                  <div class="data_col">
                    <%= p.location.location_name%>
                  </div>
              </div>
              <div class="data_row">
                <div class="data_title">
                    Post As
                  </div>
                  <div class="data_col">
                    <% if p.seeker_provider == true %>
                Seeker 
              <% else %>                 
                Provider            
              <% end %>
                  </div>
              </div>
              <div class="data_row">
                <div class="data_title">
                    Peer Service
                 </div>
                  <div class="data_col">
                    <%= p.peer_category.peer_category_type %>
                  </div>
              </div>
              <div class="data_row">
                <div class="data_title">
                    Price
                  </div>
                  <div class="data_col">
                    <%= p.charges %>
                  </div>
              </div>
              <div class="data_row">
                <div class="data_title">
                   Additional Info
                  </div>
                  <div class="data_col">
                    <%= p.additinal_info %>
                  </div>
              </div>             
                <div class="data_row">
                <div class="data_title">
                </div>
                  <div class="data_col">
                  <% if p.seeker_provider %>
                    <%= link_to 'Edit', edit_peer_service_post_requirement_sharing_path(p)%>
                  <%else%>
                  <%= link_to 'Edit', edit_peer_service_list_availability_sharing_path(p)%>
                  <%end%>
                  </div>
              </div>
              <div class="data_row">
                <div class="data_title">
                </div>
                  <div class="data_col">
                    <%= link_to 'Destroy', peer_service_destroy_requirement_sharing_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
              </div>
          </div>
  <%end%>
  <%else%>
             <div class="res_data">
             <div class="data_row">
                                        <div class="data_title">
                                            Status
                                        </div>
                                        <div class="data_col">
                                            You don't have any peer service requirement
                                        </div>
             </div>
          </div>
             <%end%>
</div>
</div>
<script>
$(document).ready(function(){
$(".peer_service_post_paginate .pagination a").on("click", function(){
  $.get(this.href, { paginate: 'peer_post' }, null, 'script');    return false;
  });
});
</script>










