<div class="display">
  <h3 class="prf_title">Your Food Sharing Details</h3>
  <div class="table-responsive src_res_desktop">
    <table class="table table-hover">
      <thead class="heading">
        <tr>
          <th>#</th>
          <th>City</th>
          <th>Locality</th>
          <th>Post as</th>
          <!--<th> Service </th>
          <th> I am looking for/I am </th>
          <th>Food Type</th>-->
          <th>Meal Type </th>
          <th>Price </th>
          <!--<th>Region Specific </th>-->
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    <tbody>
    <% my_count = 1 %>
    <% if !@post_requirements.empty? %>
      <% @post_requirements.each do |p| %>
        <tr>
          <td><%= my_count %></td>
          <td><%= p.city.city_name %></td>
          <td><%= p.location.location_name%></td>
          <td>
            <% if p.seeker_provider == true %>
              Provider
            <% else %>
              Seeker              
            <% end %>
          </td>
          <!--<td><%#= p.service.service_type%></td>
          <td><%#= p.provider.provider_type%></td>
          <td><%#= p.food_type.name%></td>-->
          <td><%= p.meal_type.nil? ? "N/A" : p.meal_type.name%></td>
          <td><%= p.budget%></td>
          <!--<td><%#= p.region.nil? ? "N/A" : p.region.name%></td>-->
          <td><%= p.details%></td>
          <% if p.seeker_provider %>
            <td><%= link_to 'Edit', edit_post_requirement_sharing_path(p)%></td>
          <%else%>
            <td><%= link_to 'Edit', edit_list_availability_sharing_path(p)%></td>
          <%end%>
          <td><%= link_to 'Destroy', destroy_requirement_sharing_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% my_count +=1 %>
      <% end %>
    <% else%>
      <tr> 
        <td colspan="8" style="text-align:center">You don't have any food requirements</td>
        <td></td>
        <td></td>
      </tr>
    <%end%>
    </tbody>  
  </table>
</div>

<div class="srch_res_mob">
  <% if !@post_requirements.empty? %>
    <% @post_requirements.each do |p| %>
      <div class="res_data">
        <div class="data_row">
          <div class="data_title">City</div>
          <div class="data_col"><%= p.city.city_name %></div>
        </div>
        <div class="data_row">
          <div class="data_title">Locality</div>
          <div class="data_col"><%= p.location.location_name%></div>
        </div>
        <!--<div class="data_row">
          <div class="data_title">Service</div>
          <div class="data_col"><%#= p.service.service_type%></div>
        </div>-->
        <div class="data_row">
          <div class="data_title">Post as</div>
          <div class="data_col">
            <% if p.seeker_provider == true %>
              Provider
            <% else %>
              Seeker              
            <% end %></div>
        </div>
        <!--<div class="data_row">
          <div class="data_title">I am looking for/I am</div>
          <div class="data_col"><%#= p.provider.provider_type%></div>
        </div>
        <div class="data_row">
          <div class="data_title">Food Type</div>
          <div class="data_col"><%#= p.food_type.name%></div>
        </div>-->
        <div class="data_row">
          <div class="data_title">Meal Type </div>
          <div class="data_col"><%= p.meal_type.nil? ? "N/A" : p.meal_type.name%></div>
        </div>
        <div class="data_row">
          <div class="data_title">Price </div>
          <div class="data_col"><%= p.budget%></div>
        </div>
        <!--<div class="data_row">
          <div class="data_title">Region Specific </div>
          <div class="data_col"><%#= p.region.nil? ? "N/A" : p.region.name%></div>
        </div>-->
        <div class="data_row">
          <div class="data_title">Description </div>
          <div class="data_col"><%= p.details%></div>
        </div>
        <div class="data_row">
          <div class="data_title"></div>
          <div class="data_col">
            <% if p.seeker_provider %>
              <%= link_to 'Edit', edit_post_requirement_sharing_path(p)%>
            <%else%>
              <%= link_to 'Edit', edit_list_availability_sharing_path(p)%>
            <%end%>
          </div>
        </div>
        <div class="data_row">
          <div class="data_title"></div>
          <div class="data_col">
            <%= link_to 'Destroy', destroy_requirement_sharing_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <%end%>
  <%else%>
  <div class="res_data">
    <div class="data_row">
      <div class="data_title">Status</div>
      <div class="data_col">You don't have any food requirement</div>
    </div>
  </div>
  <%end%>
</div>
</div>


























<!--
<div class="display">
		<h3 class="prf_title">Your Food Orders</h3>
      <div class="table-responsive src_res_desktop">
        <table class="table table-hover">
          <thead class="heading">
            <tr>
              <th>#</th>
              <th>Category</th>
              <th>Seeked / Shared </th>
              <th> Name of the other Party </th>
              <th> Address of Another Party </th>
              <th>Phone of Another Party </th>
              <th>Email of Another Party </th>
              <th>Status </th>
            </tr>
						<tr></tr>
          </thead>
         <tbody>
					<%# count = 1 %>
					<%# if !@activities.empty? %>
            <%# @activities.each do |a| %>
              <%# @user = find_user(a.contact_id) %>
              <tr>
                <td><%#= count %></td>
                <td><%#= find_service %></td>
                <td><%#= a.seeked_shared ? "Seeked" : "Shared"%></td>
                <td><%#= @user.name%></td>
                <td><%#= @user.address%></td>
                <td><%#= @user.phone_no%></td>
                <td><%#= @user.email%> </td>
                <%# if a.order.order_cancel.nil? %>
                  <%# negotiate_id = a.seeked_shared ? a.user_id : a.contact_id %>
                  <td><%#= link_to "Cancel", cancel_message_path(:user_id => a.contact_id, :order_id => a.order_id, :post_requirement_id => a.post_requirement_id, :negotiate_id => negotiate_id) %></td>
                <%# else %>
                  <td>Cancelled</td>
                <%# end %>
              </tr>
					<%# count +=1 %>
            <%# end %>
						<%# else%>
						<tr> 
						<td colspan="8" style="text-align:center">You don't have any food order </td>
						</tr>
						<%#end%>
          </tbody>  
        </table>
      </div>
		<div class="srch_res_mob">
			<%# if !@activities.empty? %>
			<%# @activities.each do |a| %>
			<%# @user = find_user(a.contact_id) %>
                            	<div class="res_data">
                                	<div class="data_row">
                                    	<div class="data_title">
                                        	Category
                                        </div>
                                        <div class="data_col">
                                        	<%#= find_service %>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Seeked / Shared 
                                        </div>
                                        <div class="data_col">
                                        	<%#= a.seeked_shared ? "Seeked" : "Shared"%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Name of the other party 
                                        </div>
                                        <div class="data_col">
                                        	<%#= @user.name%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Address of Another Party 
                                        </div>
                                        <div class="data_col">
                                        	<%#= @user.address%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Phone of Another Party 	
                                        </div>
                                        <div class="data_col">
                                        	<%#= @user.phone_no%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Email of Another Party 
                                        </div>
                                        <div class="data_col">
                                        	<%#= @user.email%>
                                        </div>
                                    </div>
                                    <div class="data_row">
                                    	<div class="data_title">
                                        	Status 
                                        </div>
                                        <div class="data_col">
																				<%# if a.order.order_cancel.nil? %>
                                        	<%# negotiate_id = a.seeked_shared ? a.user_id : a.contact_id %>
																					<%#= link_to "Cancel", cancel_message_path(:user_id => a.contact_id, :order_id => a.order_id, :post_requirement_id => a.post_requirement_id, :negotiate_id => negotiate_id) %>
																					<%#else%>
																					Cancelled
																					<%#end%>
                                        </div>
                                    </div>
                                </div>
	     <%#end%>
			 <%#else%>
			 <div class="res_data">
			 <div class="data_row">
                                    	<div class="data_title">
                                        	Status
                                        </div>
                                        <div class="data_col">
                                        	You don't have any food order 
                                        </div>
			 </div>
             </div>
			 <%#end%>
			</div>
</div>
-->