<% if !params[:search].blank? %>
  <script>
    $(document).ready(function(){
    city_value = <%= params[:search][:city_id] %>
     document.getElementById('city_id').value = city_value
    });

    function validateform(){
    city = $(".search_city_id").val();
    if (city == ''){
      alert("City can't be empty");
      return false;
    }
  </script>
<% end %>

<div class="item">
  <%=  image_tag "slider2.jpg", :alt => "..." %>



  <div class="carousel-caption custom_width">
    <div class="search-blk">
      <p class="head" style="height:43px">Book Sharing</p>
        <p style="height:25px">
          <i><small style="color:white;">Find books, Share books and Make new friends in your neighborhood</small></i></p>

        <%= form_tag(book_search_path, :method=>"post") do %>
        <% params[:search]||= {} %>


      <div class="check  col-xs-12 col-md-12">
           <label for="">I am a Reader</label>
          <%= radio_button_tag "search[book]", "0", params[:search][:book].to_i == 0, :id => 'search_book_0', :class => "book", :data => {:book => "Book name / ISBN / Author"} %>

          <label for="">I am an Owner</label>
          <%= radio_button_tag "search[book]", "1", params[:search][:book].to_i == 1, :class => 'search_book_1', :class => "book", :data => {:book=>"Book name / ISBN / Author"} %>
      </div>


      
      <div class="search">
          
           <div class="cboth"></div>
          <div class="row">
          </div>
          <div class="col-xs-12 col-md-5 padding_none text-left">
            <div class="left col-xs-12">
              <label for="">Locality</label>
            </div>
            <div class="left col-xs-12 ">
              <%= text_field_tag('search[city_id]', params[:search][:city_id], :hidden => true, class: "search_form_book_city") %>
              <%= collection_select :search, :location_id,@locations, :id, :location_name, {:include_blank => 'Locality', :selected => params[:search][:location_id]},{:class => "form-control locality_id_class", :id => 'locality_id'} %>
            </div>
            
          </div>
           <div class="col-xs-12 col-md-5 padding_none text-left">
            <div class="left col-xs-12 ">
              <label for="" class="book-chg" >Book name / ISBN / Author</label>
            </div>
            <div class="left col-xs-12 ">
             <%= text_field_tag('search[key]', params[:search][:key], :class => "form-control book-chg", :placeholder => "Book name / ISBN / Author") %>
            </div>
           </div>
          
             <div class="col-xs-12 col-md-2 padding_none text-left">
              <div class="left col-xs-12">&nbsp;
            </div>
            <div class="left col-xs-12">
              <%= submit_tag "Search", :onclick => "return validateform();", :class => "btn", :id => "search_form_book_sharing_button" %>
            </div>
          </div>
          <div class="cboth"></div>
          <div class="row"></div>


          
<div style="col-xs-12 col-md-2 padding_none text-left">
            <div class="left col-xs-12 margin_topbot m_near">
              <label id='nearbylocations' style="cursor:pointer;text-decoration:underline;" > Include nearby Localities</label>    
              <%= select_tag('search[kms]', options_for_select({ "1 km" => "1", "2 km" => "2", "3 km" => "3", "4 km" => "4", "5 km" => "5"}, params[:search][:kms] || "3" ), :style => "background-color:#000;") %> |
              <% locality_text = ( params[:search].empty? || params[:search].has_key?(:include_near_by_locations) ) ?  'Exclude Nearby Localities' : 'Exclude Nearby Localities'  %> 
              <%= check_box_tag 'search[include_near_by_locations]',true, true, style: "display:none;" %><label id='exclude_near_by_locations' style="cursor:pointer;"><%= locality_text %></label>
            </div>
             <!--<div class="btns">
              <%#= submit_tag "Search", :onclick => "return validateform();", :class => "btn", :id => "search_form_food_sharing_button" %>
            </div>-->
          </div> 




    </div>
<%end%> </div>
</div>







</div>