<%= javascript_include_tag "jquery.cookie.js" %>
<script>
  $(document).ready(function(){    
   $("input:checkbox[name=any]").click(function() {
      if ($("#any").is(":checked")) {
        $("#post_requirement_no_of_persons").attr('disabled', true);
        //$("#post_requirement_no_of_persons").val('');
      }
      else {
        $("#post_requirement_no_of_persons").attr('disabled', false);
      }
			
    })

<% if !session[:any].blank? %>
      $("#post_requirement_no_of_persons").val('');
      $("#post_requirement_no_of_persons").attr('disabled', true);
      $("#any").attr('checked', true);
<% end %>

<% if @post_requirement.no_of_persons == -1 %>
      $("#post_requirement_no_of_persons").val('');
      $("#post_requirement_no_of_persons").attr('disabled', true);
      $("#any").attr('checked', true);
<% end %>

 if(document.getElementById('post_requirement_city_id') !==null){
			   	value = $.cookie('city_id')
					if(value){document.getElementById('post_requirement_city_id').value = value}}
  });
</script>
<p class="head light-tit">Edit Post as Seeker</p>
<div class="form_inner_align">
  <%= form_for @post_requirement, :url => { :action => "update_post_requirement", :id => @post_requirement}, :html => {:class=>"form-horizontal"} do |f|%>
    <% if @post_requirement.errors.any? %>
		<div id="error_explanation">
      <ul>
        <% @post_requirement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
			</div>
    <% end %>
    <!--<div class="form-group">
      <label for="" class="">Service</label>
      <div class="">
        <%#= f.collection_select(:service_id, @services, :id, :service_type, {:selected => Service.where(:service_type => 'Food Sharing')}, {:class=>'form-control'} )%>
      </div>
    </div>-->
    <div class="form-group">
      <label for="" class="", id ="provider_id" >I'm Looking for<i>*</i></label>
      <div class="">
        <%= f.collection_select(:provider_id, @providers, :id, :provider_type, {:include_blank => 'Select Provider'}, {:class=>'form-control'} )%>
      </div>
    </div>
		 <div class="form-group">
      <label for="inputEmail3" class="">City<i>*</i></label>
      <div class="">
        <%= f.collection_select(:city_id, @cities, :id, :city_name, {:include_blank => 'City'}, {:onchange => "get_edit_locations(this.value, 'edit_locality_id')", :class=>'form-control', :id => 'edit_city_id'} )%>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="">Locality<i>*</i></label>
      <div class="">
        <%= f.collection_select(:location_id, @locations, :id, :location_name, {:include_blank => 'Locality'}, {:class=>'form-control', :id => 'edit_locality_id'} )%>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">Food Type<i>*</i></label>
      <div class="">
        <%= f.collection_select(:food_type_id, @food_types, :id, :name, {:include_blank => 'Select FoodType'}, {:class=>'form-control'} )%>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">Meal Type</label>
      <div class="">
        <%= f.collection_select(:meal_type_id, @meal_types, :id, :name, {:include_blank => 'Select MealType'}, {:class=>'form-control'} )%>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">Region specific</label>
      <div class="">
        <%= f.collection_select(:region_id, @regions, :id, :name, {:include_blank => 'Select Region'}, {:class=>'form-control'})%>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">No. of persons</label>
      <div class="">
        <%= f.text_field :no_of_persons, :size => 15, :class=>'form-control' %>
        <%= check_box_tag 'any',-1, false %> Any
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">Budget range</label>
      <div class="">
        <%= f.text_field :budget, :class=>'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="">Details </label>
      <div class="">
        <%= f.text_area :details, :class=>'form-control', :rows  => 5, :cols=> 20  %>
      </div>
    </div>
    <div class="form-group" style ="visibility:hidden;">
      <label for="" class=""></label>
      <div class="">
        <%= f.radio_button :seeker_provider, true, :checked => true %> Food Seeker
      </div>
    </div>
    <div class="form-group">
      <div class="">
        <%= f.submit 'Update', :class=>"btn btn-default"%>
      </div>
    </div>
  <%end%>
</div>

 <script>
      function get_edit_locations(value, update_field)
			{
        if (value !="")
        {
          $.ajax({ url : "/application/get_locations", type: "GET", data: { id: value}, dataType: "json",
            success: function (response) {
              $("#"+update_field+" option").remove();
              $.each(response, function(key, value) {
							$("#"+update_field).append($("<option></option>").attr("value",value.id).text(value.location_name));
              });
         }
          });
        }
        else{
          $("#"+update_field+" option").remove();
          $("#"+update_field).append($("<option value=''>Locality</option>"));
        }
		}
</script>



