<style type="text/css">
  @media screen and (min-width:1280px) {.custom_width{ width:50%; left: 25%;}.cust_btn{float: right;}}
</style>
<%= javascript_include_tag :search %>
<% if !params[:search].blank? %>
  <script>
    $(document).ready(function(){
    city_value = <%= params[:search][:city_id] %>
     document.getElementById('city_id').value = city_value
    });
  </script>
<% end %>
<% if !session[:bulk].blank? %>
  <script>
    $(document).ready(function(){
      //reload_bulk();
      $("#label_text").html("I'm");
      $("#people").hide();
      $("#search_no_of_persons").hide();
      $("#search_any").hide();
      $("#any").hide();
      $("#search_meal_type_id").hide();
      $("#search_region_id").hide();
      $("#meal").html( "No.of.Guests" );
      $("#region").hide();
      $("#search_identity").show();
      $("#search_no_of_guests").show();
      $("#guests").show();
      $("#search_any1").show();
      $("#any1").show();
    });
  </script>
<% end %>

<script>
  function validateform(){
    city = $("#search_city_id").val();
    no_of_persons = $("#search_no_of_persons").val();
    no_of_guests = $("#search_no_of_guests").val();
    if (city == ''){
      alert("City can't be empty");
      return false;
    }
    else if(no_of_persons !=''){
      if (!isInteger(no_of_persons)){
        alert("No. of people can only be number");
      }
      return isInteger(no_of_persons);
    }
    else if(no_of_guests !=''){
      if (!isInteger(no_of_guests)){
        alert("No. of guests field can only be number");
      }
      return isInteger(no_of_guests);
    }

  }

  function isInteger(n) {
    return /^[0-9]+$/.test(n);
  }
</script>

<div class="item active">
  <%=  image_tag "slider3.jpg", :alt => "..." %>







  <div class="carousel-caption custom_width">
    <div class="search-blk">
      <p class="head" style="height:43px">Food Sharing</p>
      <p style="height:25px">
        <i><small style="color:white;">Discover and Share delicious home-cooked food in your neighborhood</small></i>
      </p>
      <%= form_tag(food_search_path, :method=>"post") do %>
        <% params[:search]||= {} %>
      <div class="check  col-xs-12 col-md-12">
          <label for=""><span class="m_tag">I am </span>Looking for Food</label>
          <%= radio_button_tag "search[food]", "0", params[:search][:food].to_i == 0, :id => 'search_food_0', :class => "food" %>

          <label for=""><span class="m_tag">I want to </span>Provide Food</label>
          <%= radio_button_tag "search[food]", "1", params[:search][:food].to_i == 1, :id => 'search_food_1', :class => "food" %>
          <!--<div>
          <label for="">Bulk Deals</label>
          <%= radio_button_tag "search[food]", "2", params[:search][:food].to_i == 2, :id => 'search_food_2', :class => "food", :hidden => true %>
          </div>-->
          <%= text_field_tag('search[city_id]', params[:search][:city_id], :hidden => true) %>
      </div>


      
      <div class="search">
          <!--<div class="col-xs-12 col-md-4 padding_none text-left">
            <div class="left col-xs-12">
              <label for="" id='label_text' class="food-chg"> Looking for no.of people</label>
            </div>
            <div class="left col-xs-12">-->
              <%= text_field_tag('search[no_of_persons]', params[:search][:no_of_persons], :class => "form-control food-chg", :type=>"hidden") %>
              <%#= select_tag('search[identity]', options_for_select({ "caterer" => "1", "chef" => "2", "looking for chef" => "3", "looking for caterer" => "4"}, params[:search][:identity]), {:class => "form-control food-chg",:style => "display:none;"}) %>
              <!--<%#= check_box_tag 'search[any]','any', false %><label id='any'> Any</label>
            </div>
          </div>-->


           <div class="cboth"></div>
          <div class="row">
          </div>
          <div class="col-xs-12 col-md-5 padding_none text-left">
            <div class="left col-xs-12">
              <label for="">Locality</label>
            </div>
            <div class="left col-xs-12 ">
              <%= collection_select :search, :location_id,@locations, :id, :location_name, {:include_blank => 'Locality', :selected => params[:search][:location_id]},{:class => "form-control locality_id_class", :id => 'locality_id'} %>
            </div>
          </div>
           <div class="col-xs-12 col-md-5 padding_none text-left">
            <div class="left col-xs-12 ">
              <label class="book-chg" for="">Food type</label>
            </div>
            <div class="left col-xs-12 ">
             <%= collection_select :search, :food_type_id,@food_types, :id, :name, {:selected => params[:search][:food_type_id]},{:class => "form-control"}%>
            </div>
           </div>
          
             <div class="col-xs-12 col-md-2 padding_none text-left">
              <div class="left col-xs-12">&nbsp;
            </div>
            <!--<div class="col-xs-12 col-md-3 padding_none text-left">
            <div class="left col-xs-12">
              <label for=""  id ="meal" class="bulk-dl">Meal type</label>
            </div>
            <div class="left col-xs-12">-->
              <%#= collection_select :search, :meal_type_id,@meal_types, :id, :name, {:selected => params[:search][:meal_type_id]}, {:class => "form-control"}%>
              <%= text_field_tag('search[no_of_guests]', params[:search][:no_of_guests], {:class => "form-control", :style => "display:none"}) %>
              <%#= check_box_tag 'search[any1]','any', false, :style => 'display:none;' %>
              <!--<label id='any1' style ="display:none;">Any</label>
            </div>
          </div>-->
          <div class="left col-xs-12">
               <%= submit_tag "Search", :onclick => "return validateform();", :class => "btn", :id => "search_form_food_sharing_button" %>
            </div>
          <!--<div class="left col-xs-12">
              <label for="" id ="region" class="bulk-rmv">Any Specific Food type</label>
            </div>
            <div class="left col-xs-12">
              <%#= collection_select :search, :region_id,@regions, :id, :name, {:selected => params[:search][:region_id]}, {:class => "form-control"}%>
            </div>-->
          </div>
          <div class="cboth"></div>
          <div class="row"></div>
<div style="col-xs-12 col-md-2 padding_none text-left">
            <div class="left col-xs-12 margin_topbot m_near">
              <label id='nearbylocations' style="cursor:pointer;text-decoration:underline;" > Include nearby Localities</label>
               <%= select_tag('search[kms]', options_for_select({ "1 km" => "1", "2 km" => "2", "3 km" => "3", "4 km" => "4", "5 km" => "5"}, params[:search][:kms] || "3" ), :style => "background-color:#000;") %>|
              <% locality_text = ( params[:search].empty? || params[:search].has_key?(:include_near_by_locations) ) ?  'Exclude Nearby Localities' : 'Exclude Nearby Localities'  %> 
              <%= check_box_tag 'search[include_near_by_locations]',true, true, style: "display:none;" %><label id='exclude_near_by_locations' style="cursor:pointer;"><%= locality_text %></label>
            </div>
          </div> 




    </div>

    <%end%>
  </div>
</div>











</div>
