<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Select Your City</h2>
      </div>
      <div class="modal-body">
         <%= collection_select :city, :id, City.all, :id, :city_name, {:include_blank => 'City'}, {:class => "form-control get_city", :id => "popup_city", :onchange => "get_location(this.value,'locality_id_class')"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(window).load(function(){
	$("#popup_city").val(""); 
	value = $.cookie('city_id')
	if (value == null){
	$('#myModal').modal({
	 backdrop: 'static',
    keyboard: true,
    show: true
})
}
});
</script>
<div class="header">
  <div class="resize">
    <div class="row">
      <div class="logo col-sm-6 padding_none">
        <div class="col-xs-12 logo_center padding_none ">
          <a href="/">
            <%= image_tag 'newlogo.jpg', :class=>"img-responsive", :alt=>"", :style=>"-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; width: 90%;" %>
          </a>
        </div>
        </div>
		<div class="left city_select padding_five margin_city">
                   <%= collection_select :city, :id, City.all, :id, :city_name, {:include_blank => 'City'}, {:class => "form-control", :onchange => "get_location(this.value,'locality_id_class')"} %>
		</div>
		  <div class="nav-mob">
			<span id="mob_menu" class="fa fa-align-justify nav_icon">
				<ul class="mob_nav">
          <li class="">
            <a href="/food_search">Food Sharing</a>
          </li>
          <li class="">
            <a href="/book_search">Book Sharing</a>
          </li>
          <li class="">
            <a href="/skill_search">Skill Sharing</a>
          </li>
          <li class="">
            <a href="/food_sharing/post_requirement"> Post as Seeker</a>
          </li>
          <li class="">
            <a href="/food_sharing/list_availability">List as Provider</a>
          </li>
					<% if current_user.nil? %>
						<li class="">
              <a href="/users/sign_in">Sign In/Up</a>
            </li>
					<%end%>
					<% if current_user %>
						<li class="">
              <%= link_to "Profile",profile_home_path(current_user) %>
            </li>
						<li class="">
              <%= link_to 'Inbox', messages_path %> <% if session[:unread_messages] > 0 %> (<%= session[:unread_messages] %>) <% end %>
            </li>
						<li class="">
              <%= link_to 'Change Password', edit_user_registration_path %>
            </li>
						<li class="">
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>
						<% if current_user.admin? %>
							<li class="">
                <%= link_to "Admin Dashboard", admins_path %>
              </li>
						<%end%>
					<%end%>
					</ul>
					</span>
			
				</div>
      <%= render :partial =>  "layouts/menu" %>
    </div>
  </div>
</div>

